*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
}


/*header style start*/

.header-nav{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    background: linear-gradient(180deg, rgb(49, 87, 145) 0%, rgb(16, 55, 99) 60%);

}

.header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black;


}

header .logo {
    font-size: 2em;
    font-weight: 900;
    color: white;
    transition: .2s;
}

header .logo:hover{
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    
    padding: 17px;
    color: rgb(230, 230, 230);
    font-size: 20px;
    display: block;
    transition: .1s;
}

header nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(40, 139, 219)
}

nav ul li ul { 
    position: absolute;
    right: 0;
    width: 150px;
    background: linear-gradient(180deg, rgb(49, 87, 145) 0%, rgb(16, 55, 99) 60%);
    display: none;
    padding-left: 0;


}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul li:hover > ul {
    display: initial;
}

/*header style end*/


/*MAIN style start*/

.main{
    font-size: 1.2em;
    padding: 0;
}


/*city style start*/

.сity{
    background: url(../static/images/r3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
    margin-bottom: 3em;
    
}

.row {
    --bs-gutter-x: 0;
}

.card{
    margin-top: 5em;
    margin-bottom: 6em;
    border: none;
    border-radius: 1%;
    overflow: hidden;
}

.text{
    width: 200px;

}

.card-body{
    padding: 0;
}

.card-title{
    color: #fff;
    background: linear-gradient(180deg, rgb(49, 87, 145) 0%, rgb(16, 55, 99) 60%);
    padding: 1em;
    text-align: center;
}

.input-group {
    margin-bottom: 1.6em;
    padding: 0em 1.4em;
}

.button-form{
    text-align: center;
}

.btn{
    font-size: 1.2em;
}

.form-select{
    max-width: 14em;
}

.form-control{
    height: 2.4em;
    align-items: center;
    max-width: 12em;
}

/*city style end*/

/*results style start*/

.results{
    padding: .5em 3em;
    border-style: solid;
    border-width: 0.7px;
    border-color: rgba(255, 166, 0);
    background-color: rgba(255, 166, 0, 0.39);
}

/*results style end*/


/*graphik style start*/

.graphik{
    
    margin-top: 1em;
    height: 30em;

}

.graph{
    position: relative;
}
/*graphik style end*/



/*info style start*/

.info{   
    margin-top: 100px;
    text-align: center;
}
.infos-container{
    padding: 2em;
}
.img-container{
    text-align: center;
}

.img-info{
    width: 100%;
}

/*info style end*/

/*footer style start*/

.footer {
    margin-top: 5em;
    
    background-color: #292929;
}

.footer-links{
    
    text-align: right;
}

.footer-link-title{
    color: rgba(255, 255, 255, 0.849);
}

.footer-link{
    color: #0088e2b2;
}


/*footer style end*/

