.сity{
    background: url(../static/info_img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

.title-about{
    text-align: center;
    font-size: 5em;
    padding-top: 1em;
    font-weight: 4em;
}

.black-red{
    color: rgba(212, 14, 14, 0.815);
}
.red{
    color: rgba(255, 45, 45, 0.705);
}


.left-text-content{
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 20%;
    padding: 1em;
    border: solid;
}

.left-text{
    align-items: center;
    text-align: center;
}
.right-content{
    justify-content: space-between;
    text-align: center;
    
}
.right-text{
    border: solid;

    align-items: center;
    text-align: center;
    border-radius:20%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.842);
}


.footer {
    margin: 0;
}

@media (max-width: 720px) {
    .title-about{
        font-size: 4em;
        font-weight: 3em;
    }

}

@media (max-width: 500px) {
    .title-about{
        font-size: 3em;
        font-weight: 3em;
    }

}