.header-nav{
    background: rgb(35, 202, 20);
}

header nav ul li a {
    color: rgb(255, 255, 255);
}

header nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(35, 202, 20);
}

nav ul li ul { 
    background: rgb(35, 202, 20);
}

.сity{
    background: url(../static/images/r1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 6em;

}

.card-title{
    color: #fff;
    background: rgba(34, 187, 20, 0.87);
}

.btn{
    background: rgba(34, 187, 20, 0.87);
    border: black;
    font-size: 1.2em;
}

.btn:hover {
    color: rgba(35, 202, 20, 0.87);
    background: rgb(211, 206, 206); 
}

.term {
    max-width: 7em;
}





