.main {
    background-color: rgb(255, 255, 255);
    min-height: 90vh;
}

.main-title {
    padding: 50px 0;
    font-weight: 500;
}

.profil-item {
    padding: 1em;

}

.container{
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);

    padding: 20px 30px;
}

.avatar-profile {
    text-align: center;

}

.avatar {
    width: 100%;
}

.title-profil-info{
    font-weight: 400;
    font-size: 2rem
}

.form-control{
    width: 100%;
    padding: 10px;
    border: solid 1px #333;
}

.form-btn{
    text-align: center;
    margin-top: 25px;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    background-color: brown;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
    border: solid 1px;
}

.form-btn:hover {
    background-color: white;
    color: brown;
    border: solid 1px;
}