*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
}


/*header style start*/
.black-orange{
    color: rgb(218, 214, 214);
}
.orange{
    color: rgb(255, 255, 255);
}

.header-nav{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    background: brown;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black;


}

header .logo {
    font-size: 2em;
    font-weight: 900;
    color: white;
    transition: .2s;
}

header .logo:hover{
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a {
    
    padding: 17px;
    color: rgb(230, 230, 230);
    font-size: 20px;
    display: block;
    transition: 0.2s;

}

header nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color:brown;}

nav ul li ul { 
    position: absolute;
    right: 0;
    width: 150px;
    background: brown;
    display: none;
    padding-left: 0;
}

nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul li:hover > ul {
    display: initial;
    z-index: 5;
    transition: .2s;

}

/*header style end*/


/*MAIN style start*/

.main{
    font-size: 1.2em;
    padding: 0;
}

.account {
    
    display: none;
}



/*city style start*/

.сity{
    background: url(../static/images/g2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 3em;
}

.row {
    --bs-gutter-x: 0;
}

.card{
    margin-top: 5em;
    margin-bottom: 6em;
    border: none;
    border-radius: 1%;
    overflow: hidden;
}

.text{
    width: 200px;

}

.card-body{
    padding: 0;
}

.card-title{
    color: #fff;
    background: brown; 
    padding: 1em;
    text-align: center;
}

.input-group {
    margin-bottom: 1.6em;
    padding: 0em 1.4em;
}

.button-form{
    text-align: center;
}

.btn{
    border: solid 1px;
    background:brown; 
    font-size: 1.2em;
}

.btn:hover {
    border: solid 1px;
    color:brown; 
    background: rgb(255, 255, 255); 
}

.form-select{
    max-width: 14em;
}

.form-control{
    height: 2.4em;
    align-items: center;
    max-width: 12em;
}

/*city style end*/

/*results style start*/


.results{
    padding: .5em 3em;
    border-style: solid;
    border-width: 0.7px;
    border-color: rgba(255, 166, 0);
    background-color: rgba(255, 166, 0, 0.39);
}

/*results style end*/


/*graphik style start*/

.graphik{
    
    margin-top: 1em;
    height: 30em;

}

.graph{
    position: relative;
}
/*graphik style end*/



/*info style start*/

.info{   
    margin-top: 100px;
    text-align: center;
    padding-bottom: 4em;
}


.title-info{
    text-align: center;
    margin-bottom: 1em;
}

.info-row{
    background-color: rgb(233, 231, 231);
    border-radius: 2%;
}

.infos-container{
    padding: 2em;
}
.img-container{
    text-align: center;
}

.img-info{
    width: 100%;
}

/*info style end*/


/*video-info style start*/

.video-info-content{
    border-radius: 2%;
    padding: 1.5em;
}

.title-video-info{
    text-align: center;
    margin-bottom: 1em;
}

.video-row{
    border-radius: 2%;
    background-color: rgb(233, 231, 231);

}

.video{
    width: 100%;

}

/*video-info style end*/



/*footer style start*/

.footer {
    font-size: .9em;
    margin-top: 4em;
    background-color: #292929;
}

.footer-links{
    
    text-align: right;
}

.footer-link-title{
    color: rgba(255, 255, 255, 0.849);
}

.footer-link{
    color: #0088e2b2;
}


/*footer style end*/

